@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-backround-color: #ffffff;
  --primary-text-color: #1d1d1f;
  --info-container-color: #f5f5f7;

  --glass-effect-color: rgba(232, 232, 237, 0.7);
  --glass-effect-box-shadow: rgba(0, 0, 0, 0.11);
  --glass-effect-hover-color: rgba(223, 223, 227, 0.698);
  --icon-color: #29292a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-backround-color: #000000;
    --primary-text-color: #f5f5f7;
    --info-container-color: #1c1c1e;

    --glass-effect-color: rgba(44, 44, 47, 0.6);
    --glass-effect-box-shadow: rgba(255, 255, 255, 0.15);
    --glass-effect-hover-color: rgba(58, 58, 60, 0.6);
    --icon-color: #f5f5f7;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
button,
textarea,
select,
label,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  margin: 0;
  background-color: var(--primary-backround-color);
  padding-top: 0;
  font-family: "Roboto", sans-serif;
}

.infoContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--info-container-color);
  padding: 20px 60px;
  box-sizing: border-box;
}

.infoText {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: var(--primary-text-color);
}

/* ---------- Sections ---------- */
.gamesContainer {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 30px 95px 30px;
  box-sizing: border-box;
}

.titleText {
  font-size: 56px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  /* color: var(--primary-text-color); */
  padding-top: 10px;
  width: 100%;
  max-width: 940px;

  background-image: linear-gradient(
    90deg,
    #304cca,
    #2596d6 33.33%,
    #304cca 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0% 0;
  background-size: 200% 100%;
  color: transparent;
  animation: gradient-animation 3s ease forwards;
}

@keyframes gradient-animation {
  0% {
    background-position: 115% 0;
  }
  100% {
    background-position: -10% 0;
  }
}

.gameStatsList {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
  flex-wrap: wrap;
}

.mostPlayedSteamTable {
  height: auto;
  width: 940px;
  background-color: var(--info-container-color);
  border-radius: 14px;
  overflow: hidden;
  border-collapse: collapse;
}

.tableHeader {
  height: 35px;
  background-color: #373739;
}

.tableHeaderText {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 0 10px 0 10px;
  color: var(--primary-text-color);
}

.noGame {
  display: revert;
}

.game {
  display: none;
}

.tableContent {
  height: 40px;
  border-top: 0.5px solid #2e2e31;
}

.tableContentText {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 0 10px 0 10px;
  color: var(--primary-text-color);
}

.tableContentCP {
  color: #2596d6;
  font-weight: 600;
}

.tableContentImageCon {
  height: 100%;
  width: auto;
}

.tableContentImage {
  height: 100%;
  width: 107px;
  object-fit: cover;
  display: block;
}

/* ---------- Responsive ---------- */
@media only screen and (max-width: 1068px) {
  .titleText {
    font-size: 48px;
    line-height: 50px;
  }

  .gameStatsList {
    margin-top: 65px;
  }
}

@media only screen and (max-width: 734px) {
  .gamesContainer {
    padding: 45px 30px 95px 30px;
  }
  .titleText {
    font-size: 28px;
    line-height: 32px;
  }

  .gameStatsList {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 580px) {
  .tableHeaderName,
  .tableContentName {
    display: none;
  }

  .tableHeaderRank,
  .tableContentRank {
    display: none;
  }

  .noGame {
    display: none;
  }

  .game {
    display: revert;
  }
}
